<!-- File: views/partials/header.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>PixelPedia</title>
</head>
<body>
  <header class="header">
    <nav class="nav flex">
      <a href="/cards">Deck</a>
      <a href="/cards/new">New Card</a>
      <a href="/cards/study">Study</a>
    </nav>
  </header>
  <main class="main">